--index-url https://download.pytorch.org/whl/cu130
torch==2.9.1+cu130
numpy

--extra-index-url https://pypi.org/simple/
pandas>=2.1.0
scikit-learn>=1.4.0
xgboost>=2.0.0
onnx>=1.15.0
onnxscript>=0.1.0
onnxruntime>=1.17.0
requests>=2.31.0
tqdm>=4.66.0
matplotlib>=3.8.0
pytorch-forecasting>=1.1.0
pytorch-lightning>=2.2.0
